<div class="ticket">



    <div class="text-center">
        <h1> Vinoteca Melies</h1>
        <hr>

        <hr>
   

        <qr-code value="www.vinotecamelies.com.ar" size="300" errorCorrectionLevel="M"></qr-code>
    
        <hr>
        <p><strong>Avda Cabildo 2422 L4</strong></p>
        <p> Belgrano - CABA </p>
        <hr>

    </div>

    <!-- <table>
      <thead>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <td>{{ item.name }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.price }}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3">
            <hr>
            <p><strong>Total: {{ total }}</strong></p>
          </td>
        </tr>
      </tfoot>
    </table> -->
    <hr>
    <p><strong>Seguinos</strong></p>
    <p><i class="bi bi-facebook"></i> VinotecaMelies</p>
    <p><i class="bi bi-instagram"></i> @VinotecaMelies</p>
    <p><i class="bi bi-envelope-fill"></i> vinotecamelies@gmail.com</p>
  </div>

  <div class="no-print">
    <button (click)="print()">Print</button>
  </div>
